{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if is_granted('ROLE_GROUP_ADMIN') %}
            {% if app.request.attributes.get('_route')=='timetable_main' %}
                <a href="{{ path('timeTable_filter') }}" class="primaryButton">Ver mis cuadrantes</a>
            {% else %}
                <a href="{{ path('timetable_main') }}" class="primaryButton">Volver</a>
            {% endif %}
        {% endif %}
            <div class="table_container">
                <table class="tabla">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Participantes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>
                                <a href="{{ path('timetable_mod', {'id':group.id}) }}">
                                    {{ group.name }}
                                </a>
                            </td>
                            <td>{{ group.origin }}</td>
                            <td>{{ group.destination }}</td>
                            <td>{{ group.drivers.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}