{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if is_granted('ROLE_GROUP_ADMIN') %}
            <div class="button_container">
                <a href="{{ path('trip_new', {'id':group.id}) }}" class="primaryButton"><i class="ti ti-table-plus"></i>Generar Cuadrante</a>
                <a href="{{ path('app_non_school_day', {'id':group.id}) }}" class="primaryButton"><i class="ti ti-table-plus"></i>Dias festivos</a>
            </div>
        {% endif %}
        <div class="table_container">
            <table class="tabla">
                <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Fecha</th>
                </tr>
                </thead>
                <tbody>
                {% for timeTable in timeTablesGroup %}
                    <tr>
                        <td><a href="{{ path('app_trip', {'id':timeTable.id}) }}">{{ timeTable.band.name }}</a></td>
                        <td>{{ timeTable.weekStartDate|date('d-m-Y') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No se encontraron cuadrantes</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="button_container">
            <a href="{{ path('timetable_main') }}" class="secondaryButton"><i class="ti ti-arrow-left"></i>Volver</a>
        </div>
    </div>
{% endblock %}

