{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="table_container">
            <table class="tabla">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Id Cuadrante</th>
                </tr>
                </thead>
                <tbody>
                {% for trip in trips %}
                    <tr>
                        <td>{{ trip.tripDate | date('d-m-Y')}}</td>
                        <td>{{ trip.entrySlot }}</td>
                        <td>{{ trip.exitSlot }}</td>
                        <td>{{ trip.timeTable.id }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No se encontraron registros</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="button_container">
            <a href="{{ path('timetable_mod', {'id':group}) }}" class="secondaryButton"><i class="ti ti-arrow-left"></i>Volver</a>
        </div>
    </div>
{% endblock %}
