{% extends 'base.html.twig' %}

{% block body %}
    {% set hourIntervals = {
        1: '8:15 - 9:15',
        2: '9:15 - 10:15',
        3: '10:15 - 11:15',
        4: '11:45 - 12:45',
        5: '12:45 - 13:45',
        6: '13:45 - 14:45'
    } %}
    {% set entryHourIntervals = {
        1: '8:15',
        2: '9:15',
        3: '10:15',
        4: '11:45',
        5: '12:45',
        6: '13:45'
    } %}
    {% set exitHourIntervals = {
        1: '9:15',
        2: '10:15',
        3: '11:15',
        4: '12:45',
        5: '13:45',
        6: '14:45'
    } %}
    {% set weekdays = {1: 'Lunes', 2: 'Martes', 3: 'Miércoles', 4: 'Jueves', 5: 'Viernes'} %}
    <div class="container">
        <div class="form_container">
            <h2 class="titulo">Cuadrante para la semana del {{ timeTable.weekStartDate|date('d-m-Y') }}
                -{{ (timeTable.weekStartDate|date_modify('+4 days'))|date('d-m-Y') }}</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora entrada</th>
                    <th>Hora salida</th>
                    <th>Conductor</th>
                    <th>Pasajeros</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for trip in trips %}
                    <tr>
                        <td>{{ trip.tripDate | date('d-m-Y') }}</td>
                        <td>{{ entryHourIntervals[trip.entrySlot] }}</td>
                        <td>{{ exitHourIntervals[trip.exitSlot] }}</td>
                        <td>{{ trip.driver }}</td>
                        <td>
                            {% if trip.passengers is not empty %}
                                {% for passenger in trip.passengers %}
                                    {{ passenger.name }} {{ passenger.lastName }}<br>
                                {% endfor %}
                            {% else %}
                                No tiene pasajeros
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('mod_trip', {'id':trip.id}) }}" class="primaryButton   ">
                                <i class="ti ti-edit"></i> Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="button_container mt-4">
                <a href="{{ path('timetable_main', {'id': timeTable.band.id}) }}" class="secondaryButton">
                    <i class="ti ti-arrow-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% if success is defined and success %}
            Swal.fire({
                title: '¡Cuadrante creado con éxito!',
                text: 'El nuevo cuadrante ha sido creado exitosamente.',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
            {% endif %}
        });
    </script>
{% endblock %}
