{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if is_granted('ROLE_GROUP_ADMIN') %}
            <div class="button_container">
            <a href="{{ path('group_new') }}" class="primaryButton"><i class="ti ti-table-plus"></i>Nuevo grupo</a>
            </div>
        {% endif %}
        <div class="table_container">
            <table class="tabla">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Participantes</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>
                            {% if is_granted('ROLE_GROUP_ADMIN') %}
                                {% if app.request.attributes.get('_route')=='group_filter' %}
                                    <a href="{{ path('timetable_main') }}">
                                        {{ group.name }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('group_mod', {'id':group.id}) }}">
                                        {{ group.name }}
                                    </a>
                                {% endif %}

                            {% else %}
                                <a href="{{ path('timetable_main') }}">
                                    {{ group.name }}
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ group.origin }}</td>
                        <td>{{ group.destination }}</td>
                        <td>{{ group.drivers.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="paginator">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}