{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form_container">
            {% if driver.id is null %}
                <h2>Datos del nuevo conductor</h2>
            {% else %}
                <h2>Datos del conductor {{ driver.name }} {{ driver.lastName }}</h2>
            {% endif %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
            <div class="buttons">
                <button type="submit" class="primaryButton">Guardar</button>
                {% if driver.id is not null %}
                <a href="{{ path('driver_delete', {'id':driver.id}) }}" class="deleteButton">Borrar conductor</a>
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="button_container">
            <a href="{{ path('driver_main') }}" class="secondaryButton">Volver</a>
        </div>
    </div>
{% endblock %}