{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="form_container">
            {% if driver.id is null %}
                <h2>Datos del nuevo usuario</h2>
            {% else %}
                <h2>Datos del usuario</h2>
            {% endif %}
            {{ form_start(form) }}
            {{ form_row(form) }}
            <div class="buttons">
                <button type="submit" class="primaryButton">Guardar</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="button_container">
            <a href="{{ path('driver_main') }}" class="secondaryButton"><i class="ti ti-arrow-left"></i>Volver</a>
        </div>
    </div>

    <script>
        function confirmDelete(groupId) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás recuperar este usuario!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#8E6C88',
                cancelButtonColor: '#80CED7',
                confirmButtonText: 'Sí, eliminarlo',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '{{ path('driver_delete', {'id': 'ID_PLACEHOLDER'}) }}'.replace('ID_PLACEHOLDER', groupId),
                        type: 'DELETE',
                        success: function(response) {
                            Swal.fire(
                                '¡Eliminado!',
                                'El usuario ha sido eliminado.',
                                'success'
                            ).then(() => {
                                window.location.href = '{{ path('driver_main') }}';
                            });
                        },
                        error: function(xhr) {
                            Swal.fire(
                                'Error',
                                'Hubo un problema al eliminar el usuario.',
                                'error'
                            );
                        }
                    });
                }
            })
        }
    </script>

{% endblock %}
